.navbar {
    width: 100%;
    height: 160px;
    background: #e9bd31;
    border-bottom: 4px solid #355fa0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    margin-left: 80px;
    margin-top: 8px;
}

.logo-container img {
    width: 200px;
    height: 150px;
}

.links-container {
    margin-right: 80px;
    display: flex;
    width: 300px;
    justify-content: space-evenly;

}

.link a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #355fa0;
}

.link a:hover {
    text-decoration: none;
    color: rgb(98, 30, 30);
}