.title {
    margin-left: 80px;
}

.input {
    margin-left: 80px;
    border-radius: 1px;
    height: 20px;
}

.button {
    height: 26px;
    margin-left: 10px;
    color: #fff;
    font-weight: bold;
    background-color: #f4292c;
    border-radius: 1px;
}
