.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.container-image img {
    height: 360px;
    width: 360px;
    margin-top: 80px;
    margin-left: 300px;
    border-style: groove;
    border-radius: 10px;
    filter: brightness(0%);/* Filtro para colocar a sombra da img */
}

.container-input {
    padding-top: 180px;
    padding-left: 200px;
}

.title {
    margin-right: 210px;
}

.input {
    margin-right: 10px;
    border-radius: 5px;
    height: 40px;
    width: 300px;
}

.button {
    height: 44px;
    width: 80px;
    color: #fff;
    font-weight: bold;
    background-color: #f4292c;
    border-radius: 5px;
}